<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!--扫描web包应用Spring注解-->
    <context:component-scan base-package="controller"/>
    <!--启动注解-->
    <mvc:annotation-driven/>
    <!--Spring3.1开始的注解 HandlerMapping --> <!--3.1之后必须存在， 不解-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <!-- 配置视图解析器，将ModelAndView及字符串解析为具体的页面 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="2"/>
    </bean>

    <!-- 对静态资源文件的访问， 将无法mapping到Controller的path交给default servlet handler处理 -->
    <mvc:default-servlet-handler />

    <!-- 控制器异常处理 -->
    <bean id="handlerExceptionResolver" class="exceptionhandle.AnnotationHandlerMethodExceptionResolver">
        <property name="messageConverters">
            <list>
                <!-- 对声明@ResponseBody -->
                <ref bean="fastJsonHttpMessageConverter" />

                <!-- StringHttpMessageConverter编码为UTF-8，防止乱码 -->
                <ref bean="stringHttpMessageConverter" />
            </list>
        </property>
        <property name="exceptionMappings">
            <list>
                <!-- 框架会自动捕获指定的异常类，并返回异常类的 getMessage()的提示信息 -->
                <!--<bean class="com.sf.erui.common.exception.SfopenRuntimeException"></bean> -->
                <!-- 可以根据业务需求添加多个 ,没有的指定的异常类默认都提示系统异常 -->
            </list>
        </property>
    </bean>

    <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"></bean>
    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter"></bean>
</beans>
